name: Create Default Labels

on:
  workflow_dispatch:

jobs:
  create-labels:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Sync labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          skip-delete: false
