name: Setup Marketing Content Folders

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  create-folders:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create folder structure
        run: |
          # test
          mkdir -p marketing-content/test/services
          touch marketing-contenttest/services/about-us.md

      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Initial marketing-content folder structure"
          git push
        continue-on-error: true # In case folders already exist
